/* Setup */
body{
    background-image: url("IMG/Starts.gif");
    color: green;
}
.Enclosure{
    width: 75%;
    background-color: #0a0a0a;
    margin: auto;
    width: 75%;
    padding: 10px;
}

/* Title */
.Title{
    color: green;
    text-shadow: 2px 2px 2px greenyellow;
    font-size: 75px;
    padding: 50px;
}

/* Intro Section */
.BodyText{
    font-size: 25px;
    text-shadow: 1px 1px 1px greenyellow;
}

/* Link Section */
.Links{
    margin-top: 25px;
}
.Link{
    font-size: 20px;
    color: green;
}

/* Footer Section */
.Footer{
    margin-top: 200px;
}

/* GIFS Format */
.GIFTop{
    float: right;
    margin-top: -220px;
}
.GIFW-100{
    width:100%;
}
.GIFScary{
    width:100%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.GIFFuny{
    width:100%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.GIFConstruction{
    width:100%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.GIFBase{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Column Format */
.column {
    float: left;
    width: 33.33%;
    text-align: center;
    margin-top: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Text Formatatiob */
.SampleText{
    font-size: 20px;
}