/* Setup */
body{
    background-image: url("IMG/Starts.gif");
    color: rgb(3, 99, 16);
    font-family: Arial;
    word-wrap: break-word
}
.container{
    background-color: #0a0a0a;
    width: 75%;
    padding: 10px;
    margin:auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.body-grid-item{
    display: grid;
    grid-auto-rows: 50px;
    grid-gap: 1px;
}
.bodyHeader-grid-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 100px);
}

.BlogSection{
    width: 100%;
    background-color: rgb(3, 99, 16);
    text-align: center;
}

.MainFooter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.Seta{
    width: 50px;
}
.GIFHeader{
    width: 50vw;
    max-width: 150px;
}


@-webkit-keyframes rainbow {  
0% { color: rgb(255, 0, 0); }
28% { color: rgb(255, 125, 0); }
42% { color: rgb(255, 255, 0); }
56% { color: rgb(0, 255, 0); }
70% { color: rgb(0, 255, 255); }
84% { color: rgb(0, 0, 255); }
100% { color: rgb(255, 0, 255); }
}
.RainbowText {
    color: black;
    -webkit-animation-name: rainbow;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 3s; 
} 

@-webkit-keyframes flashy {  
    0% { color: rgba(3, 99, 16,1); }
    100% { color: rgba(3, 99, 16,0.5); }
}
.FlashyText {
    color: black;
    -webkit-animation-name: flashy;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 0.5s; 
} 


.Form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.TypeInput{
    height: 25px;
    width: 100%;
}
.InputSubmit{
    width: 150px;
    height: 50px;
    background-color: #1fb317;
    color:aliceblue;
    cursor: pointer;
}

.GIFScary{
    width:100%;
    max-width: 500px;
}
.TopicContent{
    display: grid;
    justify-items: center;
}

/* Style Content */

.DoubleBorder{
    border: 4px solid rgb(3, 99, 16);
    outline: 4px solid rgb(1, 67, 10);
}
.Text-Green{
    color: rgb(3, 99, 16);
}
.Text-Black{
    color: #131313;
}
hr{
    border: 1px dashed  green;
}
.FlipIMG{
    transform: rotateY(180deg);
}
.TextShadow{
    text-shadow: 5px 2px 3px #1fb317;
}
.TextShadowSmall{
    text-shadow: 2px 2px 1px #1fb317;
}
.TextJustify{
    text-align: justify;
}
.TextCenter{
    text-align: center;
}
.TextLeft{
    text-align: left;
}
.Title{
    font-size: 69px;
}
.Bold{
    font-weight: bold;
}
.T-5{
    font-size: 55px;
}
.T-4{
    font-size: 45px;
}
.T-3{
    font-size: 35px;
}
.T-2{
    font-size: 25px;
}
.T-1{
    font-size: 15px;
}

.MLR-5{
    margin-left: 15px;
    margin-right: 15px;
}
.MT-5{
    margin-top: 25px;
}
.MB-5{
    margin-bottom: 25px;
}
.P-5{
    padding: 15px;
}
.WID-100{
    width:100%;
    max-width: 1000px;
}
.WID-5{
    width:50%;
}
.WID-4{
    width:40%;
}
.WID-3{
    width:30%;
}
.WID-2{
    width:20%;
    max-width: 500px;
    min-width: 100px;
}
.WID-1{
    width:10%;
}
